:root {
  --bg-primary-color: #9c69e2;
  --bg-primary-color--light: #8a47e9;
  --text-color: #212353;
  --text-color-light: #4b5d68;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.mt-4 {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1120px;
  }
}
